.booking-page {
    /* max-height: 100dvh; */
    padding: 20px;
    width: 80vw;
    overflow-y: auto;
    margin-top: 1vw;
}

.booking-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0;
    color: #333;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.tidycal-embed {
    width: 100%;
    max-width: 800px;
    min-height: 600px;
}

